.update-booking-modal {
  .update-booking-content {
    .booking-info {
      margin-bottom: 20px;
      padding: 10px;
      background-color: #f5f5f5;
      border-radius: 4px;
      color: #333;

      strong {
        font-weight: 600;
      }
    }
  }
}

